<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{viewTitle}}</ion-title>
        <ion-buttons>
            <ion-button [disabled]="isToday" (click)="today()">Today</ion-button>
            <ion-button (click)="changeMode('month')">M</ion-button>
            <ion-button (click)="changeMode('week')">W</ion-button>
            <ion-button (click)="changeMode('day')">D</ion-button>
            <ion-button (click)="loadEvents()">Load Events</ion-button>
            <ion-button (click)="loadMyRooms()">Load my Rooms</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- onTimeSelected wird beim Öffnen des Kalenders getriggert, Alert macht dort begrenzt Sinn. Davon abgesehen, wie macht ma da einen Datepicker?-->
<ion-content class="has-header">
    <ion-button (click)="loadMyRooms()">My Rooms</ion-button>
    <ion-button (click)="newReservation()">New Event</ion-button>
    <calendar [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
    >
    </calendar>
</ion-content>
