<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="ionic-calendar"></ion-back-button>
        </ion-buttons>
        <ion-title>My rooms in List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content-background">
    <ng-container *ngIf="DateList.length > 0">
        <ion-card *ngFor="let item of DateList ">
            <ion-card-header> {{item.Bez}} </ion-card-header>
            <ion-card-content>
                <tr>   {{item.ID}}</tr>
                <tr>  {{item.Bez}}</tr>
                <tr>  {{item.Nutzer_ID}}</tr>
                <tr>  {{item.Rnr}}</tr>
            </ion-card-content>
            <div class="item-note" slot="end">
                Besetzt?:  {{item.Frei}}
            </div>
        </ion-card>
    </ng-container>

</ion-content>
