<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Raumplan
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [hidden]="submitted">
        <h1>Login</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <div class="form-group">
                <label for="vorname">Vorname</label>
                <input type="text" class="form-control" id="vorname"
                       required
                       [(ngModel)]="model.vorname" name="vorname"
                       #name="ngModel">
                <div [hidden]="name.valid || name.pristine"
                     class="alert alert-danger">
                    Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                       required
                       [(ngModel)]="model.name" name="name">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email"
                       required
                       [(ngModel)]="model.email" name="email">
            </div>
            <button type="button" class="btn btn-success" (click)="newUser();">Login</button>
        </form>
    </div>
</ion-content>
