<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="ionic-calendar"></ion-back-button>
    </ion-buttons>
    <ion-title>Reservation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="newReservationForm()">
    <ion-item>
      <ion-label>Von</ion-label>
      <ion-datetime
              display-format="DD MMMM YYYY HH:mm"
              month-names="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"
              [(ngModel)]="von"
              name="von"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Bis</ion-label>
      <ion-datetime
              display-format="DD MMMM YYYY HH:mm"
              month-names="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"
              [(ngModel)]="bis"
              name="bis"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Raum</ion-label>
      <ion-input type="text" [(ngModel)]="raum" name="raum"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Bemerkung</ion-label>
      <ion-input type="text" [(ngModel)]="bem" name="title"></ion-input>
    </ion-item>
    <ion-button color="primary" ion-button full type="submit">Neue Reservierung</ion-button>
  </form>
</ion-content>
