<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="mensa">
        <ion-list-header>
            <ion-input type="button" value="previous day" (click)="previousDay()" class="block"></ion-input>
            <ion-input type="button" value="next day" (click)="nextDay()" class="block"></ion-input>
        </ion-list-header>
        <ng-container *ngIf="essen.length > 0">
            <ion-card *ngFor="let item of essen ">
                <ion-card-header> {{item.Name}} </ion-card-header>
                <ion-card-content>
                    <tr>   {{item.Datum}}</tr>
                    <tr>  {{item.Essen}}</tr>
                </ion-card-content>
                <div class="item-note" slot="end">
                    {{item.Preise}}
                </div>
            </ion-card>
        </ng-container>
        <ng-container *ngIf="!essen.length">
            <ion-card>Nothing today</ion-card>
        </ng-container>

    </div>
</ion-content>
