ion-card {
  //display: flex;
  border-radius: 10px;
  flex-direction: column;
  width: 100% !important;
  //margin: 0 !important;
}

ion-card-header {
  background-color: wheat;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
}

ion-card-content {
  background-color: whitesmoke;
  border-radius: 0px 0px 10px 10px;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
