<div >

    <div class='app-top'>
        <!--        <button (click)='toggleVisible()'>toggle visible</button>-->
        <!--        <button (click)='toggleWeekends()'>toggle weekends</button>-->
        <button (click)='gotoPast()'>go to a date in the past</button>
        <!--        (also, click a date/time to add an event)-->
    </div>

    <div class='app-calendar' *ngIf="calendarVisible">
        <full-calendar
                editable=true
                #calendar
                defaultView="dayGridMonth"
                [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
                [plugins]="calendarPlugins"
                [weekends]="calendarWeekends"
                [events]="calendarEvents"
                (dateClick)="handleDateClick($event)"
        ></full-calendar>
    </div>
</div>
